@charset "UTF-8";
/*************BARVY**************/
/*************STYL ODSTAVCŮ***********/
/*************PÍSMO***********/
body {
  background-color: #f09f0abe;
  background-repeat: no-repeat;
  color: #438505;
  font-size: 16px;
  font-family: 'Abril Fatface', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  /****background-image: linear-gradient(
    
      rgba(255, 255, 255, 0.9) 10%
    ),url('images/car.jpg');
    background-repeat: no-repeat; 
    background-size: cover;  
    width: 100%;
    padding: 1rem;***/
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem auto 1rem auto;
  background-color: #dabd88be;
  align-items: center;
}

.kocour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("images/kocour.png");
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position: center;
  padding: 5rem;
}

.malovanykocour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

/*****************MENU*************************/
nav {
  background-color: #438505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.menu menu__item {
  padding: 1rem;
}

.menuToggle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}

.menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0.5rem;
}

.menu li.subitem a {
  padding: 1rem;
}

.item {
  width: 100%;
  text-align: center;
  display: none;
}

/*****************MAIN*************************/
p {
  text-align: center;
}

.table {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

tr {
  margin: 2rem;
}

.pivovarfoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.pivovarfoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.akcefoto {
  padding: 5rem;
  font-size: 1.2rem;
  text-align: center;
}

/*****************KONTAKT*************************/
.kontakt {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.kontakt__social {
  color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.kontakt__social svg {
  margin: 0 1rem;
  cursor: pointer;
}

.kontakt__social #fb-circle {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.kontakt__social #fb:hover #fb-circle {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 8;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.kontakt__social #fb-circle #fb-path {
  fill: #303FC9;
}

.kontakt__social #fb-circle {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.kontakt__social #fb:hover #fb-circle {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 8;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.kontakt__social #fb-circle #fb-path {
  fill: #303FC9;
}

.kontakt__social #insta:hover #insta-dot {
  -webkit-animation: flash .2s ease;
          animation: flash .2s ease;
}

.kontakt__social .ozdoba {
  background-image: url("images/hops-309577_1280.png");
  background-repeat: no-repeat;
  background-size: 20rem;
  background-position: center;
  width: 100%;
}

@-webkit-keyframes flash {
  to {
    opacity: 0;
  }
}

@keyframes flash {
  to {
    opacity: 0;
  }
}

#twitter {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}

#twitter:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#linkedin {
  background-color: #ffffff;
  border-radius: 21px;
}

#linkedin:hover {
  -webkit-animation: pulz 3s infinite;
          animation: pulz 3s infinite;
}

@-webkit-keyframes pulz {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulz {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 800px) {
  h1 {
    padding: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */