@charset "UTF-8";
/*************BARVY**************/
/*************STYL ODSTAVCŮ***********/
/*************PÍSMO***********/
body {
  background-color: #fafafabe;
  background-repeat: no-repeat;
  color: #438505;
  font-size: 16px;
  font-family: 'Abril Fatface', cursive;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /****background-image: linear-gradient(
    
      rgba(255, 255, 255, 0.9) 10%
    ),url('images/car.jpg');
    background-repeat: no-repeat; 
    background-size: cover;  
    width: 100%;
    padding: 1rem;***/
}

/* {
    box-sizing: border-box;
  }*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem auto 1rem auto;
  align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.obrazek {
  position: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kocour {
  width: 40vw;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10vw;
}

.napis {
  color: #08010f;
  padding: 2.3rem;
  font-size: 130%;
}

h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

/*****************MENU*************************/
nav {
  background-color: #438505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.menu menu__item {
  padding: 1rem;
}

.menuToggle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}

.menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0.5rem;
}

.menu li.subitem a {
  padding: 1rem;
}

.item {
  width: 100%;
  text-align: center;
  display: none;
}

/*****************MAIN*************************/
p {
  text-align: center;
}

.table {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 38vw;
}

tr {
  margin: 2rem;
}

.galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  margin: 30px auto;
}

.ramecek {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px;
}

.ramecek img {
  width: 100%;
}

.sipka {
  width: 50px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
  border-radius: 50%;
}

.sipka:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.35);
          box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.35);
}

.sipka:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

/*****************KONTAKT*************************/
.kontakt {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.kontakt__social {
  color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.kontakt__social svg {
  margin: 0 1rem;
  cursor: pointer;
}

.kontakt__social #fb-circle {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.kontakt__social #fb:hover #fb-circle {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 8;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.kontakt__social #fb-circle #fb-path {
  fill: #303FC9;
}

.kontakt__social #fb-circle {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.kontakt__social #fb:hover #fb-circle {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 8;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.kontakt__social #fb-circle #fb-path {
  fill: #303FC9;
}

.kontakt__social #insta:hover #insta-dot {
  -webkit-animation: flash .2s ease;
          animation: flash .2s ease;
}

.kontakt__social .ozdoba {
  background-image: url("images/hops-309577_1280.png");
  background-repeat: no-repeat;
  background-size: 20rem;
  background-position: center;
  width: 100%;
}

@-webkit-keyframes flash {
  to {
    opacity: 0;
  }
}

@keyframes flash {
  to {
    opacity: 0;
  }
}

#twitter {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}

#twitter:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes pulz {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulz {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 400px) {
  h1 {
    padding: 2rem;
  }
  .nadpis {
    margin-top: -3.5rem;
  }
}

@media (min-width: 600px) {
  h1 {
    padding: 2rem;
  }
  .kocour {
    padding-top: 5rem;
    padding-left: 35vw;
    width: 30vw;
  }
  .nadpis {
    font-size: 200%;
  }
}

@media (min-width: 850px) {
  .nadpis {
    margin-top: -2rem;
  }
}
/*# sourceMappingURL=style.css.map */