/*************BARVY**************/

$bgPrimary:#fcfcfc; 
$bgPrimaryLight: rgb(245, 244, 245);
$bgSecondary: #8a97c7;
$bgThird: #edeaf0;

/*************STYL ODSTAVCŮ***********/


/*************PÍSMO***********/


body {
    background-color: $bgPrimary;
    background-repeat: no-repeat;
    color: #4d4e80;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
    /****background-image: linear-gradient(
    
      rgba(255, 255, 255, 0.9) 10%
    ),url('images/car.jpg');
    background-repeat: no-repeat; 
    background-size: cover;  
    width: 100%;
    padding: 1rem;***/
   
   

  }

  
  header {
    display: flex;
    align-items: center;
    margin: 1.5rem auto 1rem auto;

    background-image: linear-gradient(
    
      rgba(255, 255, 255, 0.9) 100%
    ),url('images/kocour.png');
    background-repeat: no-repeat; 
    background-size: cover;  
    width: 100%;
    
  
   
    }

    .praporky {
      image: linear-gradient(
    
      rgba(255, 255, 255, 0.9) 10%
    }
  
    h1 {
      text-align: center;
      font-family: 'Abril Fatface', cursive;
    }

    /*****************MENU*************************/


nav {
  background: $bgSecondary;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}
a {
  color: white;
  text-decoration: none;
}
.menu {
  
  list-style-type: none;

  menu__item {
   padding: 1rem;
  }
}

.menuToggle {
  user-select: none;
  text-transform: uppercase;
}


.menu li a {
  display: flex;
  padding: 1rem 0.5rem;
}

.menu li.subitem a {
  padding: 1rem;
}

.item {  
  width: 100%;
  text-align: center;
  display: none;
}

/*****************MAIN*************************/

p {
  text-align: center;
}

.cenik-tabulka {
  display: flex;
  align-items: center;
}


/*****************KONTAKT*************************/
.kontakt {
  display: grid;
  text-align: center;
 
}




.kontakt__social {
  color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;


    svg {
      margin: 0 1rem;
      cursor: pointer;
    }

    #fb-circle {
      transition: all ease .5s;
      transform-origin: center;

    }

   #fb:hover #fb-circle {
      fill: transparent;
      stroke-width: 2;
      stroke-dasharray: 8;
      transform: rotate(360deg);

}

   #fb-circle #fb-path{
      fill: #303FC9;
}

   #fb-circle {
      transition: all ease .5s;
      transform-origin: center;

}

   #fb:hover #fb-circle {
      fill: transparent;
      stroke-width: 2;
      stroke-dasharray: 8;
      transform: rotate(360deg);

}

   #fb-circle #fb-path{
      fill: #303FC9;
}

  #insta:hover #insta-dot {
    animation: flash .2s ease;
  
  }

  @keyframes flash {
    to {
      opacity: 0;
    }
  }
}


#twitter {
  transition: width 2s, height 2s, transform 2s;
}

#twitter:hover {
  transform: rotate(180deg);
}


#linkedin {
  background-color: #ffffff;
  border-radius: 21px;    
}

#linkedin:hover {
  animation: pulz 3s infinite;
}

@keyframes pulz {
from {transform: scale(1);}
to {transform: scale(1.2);}
}