/*************BARVY**************/

$bgPrimary:#fafafabe; 
$bgPrimaryLight: rgb(245, 244, 245);
$bgSecondary: #438505;
$bgThird:#fafafabe;
$bgThird: #edeaf0;
$Nadpis: padding 2rem;

/*************STYL ODSTAVCŮ***********/


/*************PÍSMO***********/


body {
    background-color: $bgPrimary;
    background-repeat: no-repeat;
    color: $bgSecondary;
    font-size: 16px;
    font-family: 'Abril Fatface', cursive;
    box-sizing: content-box;
   
    /****background-image: linear-gradient(
    
      rgba(255, 255, 255, 0.9) 10%
    ),url('images/car.jpg');
    background-repeat: no-repeat; 
    background-size: cover;  
    width: 100%;
    padding: 1rem;***/
   
   

  }

  /* {
    box-sizing: border-box;
  }*/

  header {
    display: flex;
    align-items: center;
    margin: 1.5rem auto 1rem auto;
    align-items: center;
    box-sizing: content-box;

    
  
    }

    .obrazek {
      position: flex;
      align-items: center;
    }
    .kocour {
      width: 40vw;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;  
      padding-left: 10vw;   

    }
  

    
    .napis {
      color: #08010f;
      padding: 2.3rem;
      font-size: 130%;
    }

    h1 {
      text-align: center;
      font-family: 'Amatic SC', cursive;
    }

    h2 {
      font-family: 'Gloria Hallelujah', cursive;
      text-align: center;
    }

    /*****************MENU*************************/


nav {
  background-color: $bgSecondary;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}
a {
  color: white;
  text-decoration: none;
}
.menu {
  
  list-style-type: none;

  menu__item {
   padding: 1rem;
  }
}

.menuToggle {
  user-select: none;
  text-transform: uppercase;
}


.menu li a {
  display: flex;
  padding: 1rem 0.5rem;
}

.menu li.subitem a {
  padding: 1rem;
}

.item {  
  width: 100%;
  text-align: center;
  display: none;
}

/*****************MAIN*************************/

p {
  text-align: center;
}

.table {
  align-items: center;
  padding-left: 38vw;
}

tr {
  margin: 2rem;
}


.galerie {
	display: flex;
	align-items: center;
	max-width: 800px;
	margin: 30px auto;
}

.ramecek {
	flex: 1;
	margin: 0 20px;
}

.ramecek img {
	width: 100%;
}

.sipka {
	width: 50px;
	transform: translateY(-1px);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
	transition: all 0.2s;
	outline: none;
	border-radius: 50%;
}

.sipka:hover {
	transform: translateY(-4px);
	box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.35);
}

.sipka:active {
	transform: translateY(-1px);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}



/*****************KONTAKT*************************/
.kontakt {
  display: grid;
  text-align: center;
  
 
}




.kontakt__social {
  color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;


    svg {
      margin: 0 1rem;
      cursor: pointer;
    }

    #fb-circle {
      transition: all ease .5s;
      transform-origin: center;

    }

   #fb:hover #fb-circle {
      fill: transparent;
      stroke-width: 2;
      stroke-dasharray: 8;
      transform: rotate(360deg);

}

   #fb-circle #fb-path{
      fill: #303FC9;
}

   #fb-circle {
      transition: all ease .5s;
      transform-origin: center;

}

   #fb:hover #fb-circle {
      fill: transparent;
      stroke-width: 2;
      stroke-dasharray: 8;
      transform: rotate(360deg);

}

   #fb-circle #fb-path{
      fill: #303FC9;
}

  #insta:hover #insta-dot {
    animation: flash .2s ease;
  
  }

.ozdoba {
  background-image: url('images/hops-309577_1280.png');
    background-repeat: no-repeat; 
    background-size: 20rem;  
    background-position: center;
    width: 100%;
}


  @keyframes flash {
    to {
      opacity: 0;
    }
  }
}


#twitter {
  transition: width 2s, height 2s, transform 2s;
}

#twitter:hover {
  transform: rotate(180deg);
}


@keyframes pulz {
from {transform: scale(1);}
to {transform: scale(1.2);}
}

@media (min-width: 400px) {

  h1 {
    padding: 2rem;
  }

  .nadpis {
    margin-top: -3.5rem;
  }
}

@media (min-width: 600px) {

  h1 {
    padding: 2rem;
  }

  .kocour {
    padding-top: 5rem;
    padding-left: 35vw;
    width: 30vw;
  }
  .nadpis {
    font-size: 200%;
  }
}

@media (min-width: 850px) {
  .nadpis {
    margin-top: -2rem;
  }
}